
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@media screen and (max-width:1300px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        
    }
    .couleur-logo {
        fill: var(--main-color-2);
    }
    header .header_menu{
        align-items: start;
    }
    .header_menu {
        justify-content: start;
        padding-left: 2%;
        padding-right: 2%;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li:hover > ul {
        display:inherit;
    }
    nav ul ul li {
        width:170px;
        float:none;
        display:list-item;
        position: relative;
        left: 170px;
    }
    nav {
        width: 100%;
    }
    nav .actual{ 
        background-color: var(--main-color-2); 
        color: black;
    }
    .header_icons {
        justify-content: space-evenly;
        background-color: var(--main-color-2);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .size-icon {
        color: var(--main-color-1);
    }
    .header_logonike{
        padding-top: 2%;
        padding-bottom: 2%;
    }
}